.padd {
  padding: 60px;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.space {
  margin: 40px 0;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: #000000;
}
#navbarSupportedContent{
  width: unset;
}
.navbar {
  padding: 1rem 1rem !important;
  background-color: #202020;
  justify-content: space-evenly;
}
.navbar-nav {
  justify-content: space-evenly;
}
.nav-item {
  text-align: center;
  margin: 0 10px;
}
.nav-item img {
  width: 28px;
  height: auto;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #7ca234;
}
.heading {
  display: flex;
  justify-content: space-evenly;
  background: #000;
}
.logo img {
  width: 133px;
  cursor: pointer;
}
.dropdown-content {
  display: flex;
}
.dropdown-menu {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  list-style: none;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-top: 15px;
}
.dropdown-menu.show {
  display: flex;
}
.dropdown-item {
  color: #fff;
  background-color: unset;
}
.dropdown-item:hover {
  color: #ddd;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: unset;
}
.nav-item .fa {
  font-size: 24px;
  color: #fff;
  display: block;
}
.nav-item a .fa:hover {
  color: #7ca234;
}
.hero {
  background-image: url(./../images/s960_30_05_20_GovUK2.jpg);
  width: 100%;
  height: 600px;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay{
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: hsl(122, 45%, 49%,.3);
  left:0;
  top:0;
  position: absolute;
  transition: .5s ease-in-out;

}
.hero:hover .overlay{
  opacity: 1;
}
.heading-description {
  align-items: flex-end;
  align-content: flex-end;
  background-color: #47bb7d5e;
  background-image: linear-gradient(45deg, #47bb7d75 0%, #7bc16a7c 100%);
  position: absolute;
  bottom: -20px;
  padding: 40px;
  border-radius: 0px 0px 20px 20px;
  color: #fff;
}
.championship {
  background-color: #202020;
  padding: 50px;
}
.nav {
  justify-content: space-evenly;
}
.nav-tabs {
  width: 96%;
  margin-right: 2%;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: unset;
  border-color: #202020;
  border-bottom-color: #7ca234;
  color: #7ca234;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.hover {
  border-color: #202020;
  color: #7ca234;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #7ca234;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: 0px solid #333;
  border-bottom: 2px solid #7ca234;
}
.tab-container {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.tab-container img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}
.tab-wrraper {
  text-align: center;
  padding: 100px;
}
.tab-container span {
  display: block;
  margin: 10px 0;
  padding: 6px;
}
h4 {
  color: #fff;
}
.background {
  background: #585858;
  padding: 0px 8px;
  border-radius: 18px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #d3130e;
  cursor: pointer;
  background-image: linear-gradient(45deg, #e9ecef 0%, rgb(0 0 0 / 8%), 0.5);
}
.bold {
  font-size: 30px;
  margin-bottom: 50px;
  color: #fff;
}
.bell .fa {
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.navbar-nav li:hover {
  color: #7ca234;
}
p {
  align-items: flex-end;
  align-content: flex-end;
  background-color: transparent;
  background-image: unset;
  position: static;
  bottom: 0;
  color: #7ca234;
  padding: 0;
  border-radius: 0;
}
.tab-show-data {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 100px; */
}
.show-all-championship {
  text-align: center;
  padding: 40px 0 0px 0;
}
.show-all-championship h4 {
  color: #7ca234;
}
.containers-champoins {
  text-align: right;
  background: #202020;
}
.containers-champoins-content {
  padding: 40px 0px;
}
.chamipion-box-item {
  background: linear-gradient(#dce35b, #45b649);
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  margin: 6px 0 ;
  transition: 0.5s ease-in-out;
}
.chamipion-box-item:hover {
  transform: scale(0.9);
}
.chamipion-box-item h2 {
  color: #fff;
}
.data-contain {
  display: flex;
  justify-content: space-between;
}
.data-contain img {
  width: 60px;
  height: auto;
}

.chamipion-box h6 {
  text-align: right;
}
.data-contain-item {
  width: 60%;
}
.date-item {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 10px;
}
.match-info {
  display: flex;
  justify-content: space-evenly;
  /* width: 60%; */
}

.vs-block p {
  background: #7ca2344d;
  padding: 10px;
  border-radius: 50%;
  font-weight: 600;
  margin-top: 10px;
}
.match-info-img img {
  width: 90px;
}

/* news  */
ul {
  list-style: none;
}
.news {
  margin: 10px 0;
  background-color: #202020;
  padding: 20px;
}
.caption {
  display: flex;
  justify-content: space-between;
}

.caption li {
  color: #fff;
}
.caption a {
  color: #7ca234;
}
.news-item {
  display: flex;
  justify-content: space-between;
}
.video-content {
  display: flex;
  justify-content: space-around;
}
.video-title {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 10px;
}
.video-title-end {
  display: flex;
  align-items: flex-end;
}
.video-item video {
  width: 200px;
  height: 200px;
}
.video-item-title {
  text-align: right;
  margin-right: 4px;
}
.video-item-title span {
  padding: 6px 2px;
  color: #fff;
  cursor: pointer;
}
.action {
  display: flex;
  align-items: center;

}
.news .action .fa {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
transition: .5s ease-in-out;
}
.news .action .fa:hover{
  color:#7ca234
}
.border-left {
  border-left: 1px solid #292a2b !important;
}

/* studio */
.carousel-item .row {
  padding: 20px;
}

.studio-video-item video {
  width: 100%;
  height: 120px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 1px 6px 0 rgb(32, 33, 36, 0.5);
}
.video-header {
  background-color: #202020;
  padding: 10px;
  border-radius: 0 0px 16px 16px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 50%);
}
.video-header h4 {
  display: flex;
  justify-content: flex-end;
  /* margin-left: 87px; */
  font-size: 16px;
  margin-bottom: 13px;
}
.video-info {
  display: flex;
  justify-content: space-evenly;
}
.video-info p {
  color: #fff;
}
.controls-top a {
  color: #7ca234;
}
@media only screen and (max-width: 980px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .nav-item {
    padding: 10px 0;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border: none;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.hover,
  .nav-tabs .nav-link:focus {
    border: none;

  }
  .nav-item{
    margin: 0px;
    padding: 0px 0;

  }

  .dropdown-menu {
    left: 0;
  }
  .tab-wrraper {
    padding: 0;
  }
  .chamipion-box-item {
    max-width: unset;
  }
  .border-left {
    border-left: none !important;
  }
  .video-header {
    background-color: #202020;
    font-size: 10px;
  }
  .navbar-nav {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .video-header h4 {
    display: block;
    margin-left: unset;
    font-size: 12px;
    padding-bottom: 10px;

  }
  #navbarSupportedContent{
    width: 100%;
  }
  .video-item-title span {
    display: block;
}
}
